@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

html {
  background: radial-gradient(#280a48, #20043d);
}

body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
